@import url(reset.css);

*{
  box-sizing: border-box;
}

body{
  font-family: "Noto Sans";
  font-weight: bold;
  background-image: url(../IMG/dog_foot_big@2x.png);
  font-size: 0;//取消圖片底層空白
}

h1{
  font-size: 30px;
}
h2{
  font-size: 27px;
}
h3{
  font-size: 24px;
  font-weight: bold;
}
h4{
  font-size: 21px;
  font-weight: bold;
}/*21.6px*/
h5{
  font-size: 21px;
}
p{
  font-size: 19px;
}
button{
  font-size: 16px;
}/*15.6px*/


.banner {
  width: 1920px;
  .banner img {
    width: 1920px;
  }
}

main {
  width: 1740px;
  margin: 0 auto;
}

/*試穿服飾區塊*/
.clothes_block{
  margin-top: 29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clothes{
  width: 840px;
  height: 520px;
  margin-bottom: 55px;
  position: relative;
  .icon{
    width: 175px;
    height: 88px;
    background-color: #B7B7B7;
    border-radius: 0 0 88px 88px;
    background-image: url(../IMG/98712761-hanger-icon-vector-line-clothes-hanger-symbol-@2x.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
  .view_btn{
    width: 150px;
    height: 55px;
    background-color: #FFC857;
    border-radius: 100px;
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    h3{
      font-size: 40px;
      line-height: 55px;
      color: #FFFFFF;
      text-align: center;
    }
  }
}